@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

:root {
	/* Colors */
	--blackpure: #000;
	--black: #1a1a1a;
	--black-border: #1e1e1e;
	--white: #F9F9FF;
	--linen: #EAE2D6;

	/* Nav */
	--nav-bg: var(--black);
	--nav-border: var(--black-border);
	--nav-text: var(--white);

	/* Header */
	--header-bg: var(--black);
	--header-text: var(--white);

	/* Footer */
	--footer-bg: var(--black);
	--footer-text: var(--white);

	/* Light mode */
	--page-bg: var(--white);
	--text-color: var(--black);
	--accent: var(--linen);
	--title-1: var(--accent);

	--project-card-bg: var(--white);
	--project-card-text: var(--black);
	--box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

.dark {
	/* Dark mode */
	--page-bg: #252526;
	--text-color: var(--white);

	--title-1: var(--white);

	--project-card-bg: var(--black);
	--project-card-text: var(--white);
	--box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}

html,
body {
	min-height: 100vh;
	
	font-family: 'DM Sans', sans-serif;
	letter-spacing: -0.5px;
	
	/* Light mode */
	background-color: var(--page-bg);
	color: var(--text-color);
}

#root {
	min-height: 100vh;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* General */

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1200px;
}

.none {
	display: none !important;
}

.section {
	padding: 70px 0;
}

.title-1 {
	margin-bottom: 60px;

	font-size: 60px;
	font-weight: 700;
	line-height: 1.3;
	color: var(--title-1);
	text-align: center;
}

.title-2 {
	margin-bottom: 20px;

	font-size: 40px;
	font-weight: 700;
	line-height: 1.3;
}

/* Btn */

.btn {
	display: inline-block;
	height: 48px;
	padding: 12px 28px;

	border-radius: 5px;
	background-color: var(--accent);
	color: var(--black);
	letter-spacing: 0.15px;
	font-size: 16px;
	font-weight: 500;

	transition: opacity 0.2s ease-in;
}

.btn:hover {
	opacity: 0.8;
}

.btn:active {
	position: relative;
	top: 1px;
}

/* Btn outline */

.btn-outline {
	display: flex;
	column-gap: 10px;
	align-items: center;

	height: 48px;
	padding: 12px 20px;

	border-radius: 5px;
	border: 1px solid var(--linen);
	background-color: transparent;
	color: var(--linen);

	transition: opacity 0.2s ease-in;
}

.btn-outline:hover {
	opacity: 0.8;
	background-color: var(--linen);
	color: var(--black);
}

.btn-outline:active {
	position: relative;
	top: 1px;
}

/* Projects  */

.projects {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 30px;
}

/* Project details */

.project-details {
	margin: 0 auto;
	max-width: 865px;

	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;
}

.project-details__cover {
	max-width: 100%;
	margin-bottom: 40px;

	box-shadow: var(--box-shadow);
	border-radius: 10px;
}

.project-details__desc {
	margin-bottom: 30px;

	font-weight: 700;
	font-size: 24px;
	line-height: 1.3;
}

/* Content list */

.content-list {
	margin: 0 auto;
	max-width: 570px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 40px;
	text-align: center;
}

.content-list a {
	color: var(--accent);
}

.content-list__item {
	font-size: 18px;
	line-height: 1.5;
}

.content-list__item p + p {
	margin-top: 0.5em;
}

@media (max-width: 620px) {
	/* Header  */

	.header {
		min-height: unset;
	}

	.header__title {
		font-size: 30px;
	}

	.header__title strong {
		font-size: 40px;
	}

	/* Nav */

	.nav-row {
		justify-content: space-between;
	}

	.dark-mode-btn {
		order: 0;
	}

	/* General */

	.section {
		padding: 40px 0;
	}

	.title-1 {
		margin-bottom: 30px;
		font-size: 40px;
	}

	.title-2 {
		margin-bottom: 10px;
		font-size: 30px;
	}

	/* Projects */

	.project__title {
		font-size: 22px;
	}

	/* Project page */

	.project-details__desc {
		margin-bottom: 20px;
		font-size: 22px;
	}

	/* Content List */

	.content-list {
		row-gap: 20px;
	}

	.content-list__item {
		font-size: 16px;
	}

	/* Footer */

	.footer {
		padding: 40px 0 30px;
	}

	.footer__wrapper {
		row-gap: 20px;
	}

	/* Social */

	.social {
		column-gap: 20px;
	}

	.social__item {
		width: 28px;
	}
}

  .container1 {
	background: #EAE2D6;
	position: relative;
	margin-bottom: 73px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 21px 45px 73px 45px;
	width: fit-content;
	box-sizing: border-box;
  }
  .marigold {
	font-family: 'Inter';
	font-weight: 300;
	font-size: 32px;
	line-height: 1.333;
  }
  .marigold-sub15 {
	font-family: 'Inter';
	font-weight: 200;
	font-size: 32px;
	line-height: 1.333;
  }
  .marigold-sub16 {
	font-family: 'Inter';
	font-weight: 500;
	font-size: 32px;
	line-height: 1.333;
  }
  .cls-77-oq-3-b-7-xatvmu-pua-ehk-deyng-9-y-4-dt-yc-t-1-s-qm-d-3-y-lqjy-r {
	margin-bottom: 16px;
	display: inline-block;
	align-self: flex-start;
	text-align: justify;
	overflow-wrap: break-word;
	font-family: 'Inter';
	font-weight: 200;
	font-size: 20px;
	color: #000000;
  }
  .c2023 {
	margin: 0 30.7px 40px 0;
	display: inline-block;
	text-align: justify;
	overflow-wrap: break-word;
	font-family: 'Inter';
	font-weight: 200;
	font-size: 20px;
	color: #000000;
  }
  .c1 {
	margin-bottom: 16px;
	display: inline-block;
	align-self: flex-start;
	text-align: justify;
	overflow-wrap: break-word;
	font-family: 'Inter';
	font-weight: 200;
	font-size: 20px;
	color: #000000;
  }
  .marigold-2 {
	margin-right: 50.1px;
	text-align: justify;
	overflow-wrap: break-word;
	font-family: 'Inter';
	font-weight: 200;
	font-size: 20px;
	color: #000000;
  }
  .rectangle-3 {
	border-radius: 10px;
	background: url('https://fn12.com/api/clusters/cluster-fn12-prod-europe-west1/projects/LXWSdPrCSf7GQ24CALGGmG/assets/images/41b692f4346628210f88eaecff47652154b74933?Expires=1711002153&KeyName=fn12-cdn&Signature=WwdVP-Kg29aRYBXSQZwU4kltAt8=') 50% / cover no-repeat;
	margin: 0 61px 1px 0;
	width: 570px;
	height: 570px;
  }
  .marigold-3 {
	margin-bottom: 40px;
	display: inline-block;
	text-align: justify;
	overflow-wrap: break-word;
	font-family: 'Inter';
	font-weight: 200;
	font-size: 20px;
	color: #000000;
  }
  .container-4 {
	display: flex;
	flex-direction: row;
	column-gap: 50px;
	width: fit-content;
	box-sizing: border-box;
  }

  .c7 {
	margin: 0 3.7px 80px 0;
	display: inline-block;
	overflow-wrap: break-word;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 38px;
	color: #000000;
  }
  .rectangle-5 {
	border-radius: 20px;
	background: #867666;
	width: 300px;
	height: 300px;
  }
  .rectangle-6 {
	border-radius: 20px;
	background: #867666;
	width: 300px;
	height: 300px;
  }
  .rectangle-7 {
	border-radius: 20px;
	background: #867666;
	width: 300px;
	height: 300px;
  }
  .name-surname {
	margin: 0 6px 3px 6px;
	display: inline-block;
	align-self: flex-start;
	overflow-wrap: break-word;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 28px;
	color: #FFFFFF;
  }
  .rate {
	margin: 0 6px 21px 6px;
	display: inline-block;
	align-self: flex-start;
	overflow-wrap: break-word;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 24px;
	color: #FFFFFF;
  }
  .c8 {
	overflow-wrap: break-word;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 20px;
	color: #FFFFFF;
  }
  .c9 {
	margin: 0 347.3px 67px 0;
	display: inline-block;
	overflow-wrap: break-word;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 38px;
	color: #000000;
  }
  .rectangle-8 {
	border-radius: 20px;
	background: #D9D9D9;
	margin: 0 45px;
	width: 1350px;
	height: 509px;
  }
  .container-10 {
	margin: 0 142.7px 130px 99px;
	display: flex;
	flex-direction: row;
	width: fit-content;
	box-sizing: border-box;
  }
  .container-11 {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
  }

  .container-13 {
	border-radius: 20px;
	background: #867666;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 20px 21.4px 25px 16px;
	box-sizing: border-box;
  }