/* Header */

.header {
	padding: 40px 0;
	min-height: 700px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('./../../img/header-bg.jpg') 50% / cover no-repeat;
	background-position: center center;

	color: var(--header-text);
	text-align: center;
}

.header__wrapper {
	padding: 0 15px;
	max-width: 660px;
}

.header__title {
	margin-bottom: 20px;
	font-size: 72px;
	font-weight: 700;
	line-height: 1.4;
	color: #EAE2D6;
}

.header__title strong {
	font-size: 60px;
	font-weight: 700;
}

.header__title em {
	font-style: normal;
	color: var(--accent);
}

.header__text {
	width: 70%;
	margin-bottom: 40px;
	font-size: 24px;
	line-height: 1.333;
	font-weight: 500;
	color: #FFFFFF;
}

.header__text p + p {
	margin-top: 0.5em;
}
