#container{
	box-shadow: 0 5px 10px 1px grey;
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 10px 15px;
	min-height: 200px;
	width: 100;
}

.rate {
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;

}

#container .product-details h1{
	display: inline-block;
	position: relative;
	font-size: 30px;
	color: #344055;
    width: 100%;
	margin: 0;
	
}	